[submodule "Praktyki"]
	path = Praktyki
	url = https://github.com/KolRobOsk/Praktyki
[submodule "Hydrogen-Radial-Wavefunctions"]
	path = Hydrogen-Radial-Wavefunctions
	url = https://github.com/AngusNicolson/Hydrogen-Radial-Wavefunctions
